<?xml version="1.0"?>


<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="lidar">

        <link name="lidar">
            <visual>
                <geometry>
                    <cylinder radius="0.019" length="0.01" />
                </geometry>
                <material name="colors_gray" />
            </visual>
        </link>

        <joint name="lidar_joint" type="fixed">
            <parent link="robot_base_link" />
            <child link="lidar" />
            <origin xyz="0.12 0.0 ${(robot_base_hight /2) + 0.005}" />
        </joint>

    </xacro:macro>
</robot>