<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="ultrasound_chassis">

        <!-- BODY -->
        <link name="ultrasound_chassis_link">
            <visual>
                <geometry>
                    <cylinder radius="0.2" length="${ultrasound_chassis_hight}" />
                </geometry>
                <material name="colors_gray" />
            </visual>
        </link>


        <joint name="ultrasound_chassis_joint" type="fixed">
            <parent link="ultrasound_chassis_support_link" />
            <child link="ultrasound_chassis_link" />
            <origin
                xyz="0.0 0.0 ${(ultrasound_chassis_support_hight/2) + (ultrasound_chassis_hight/2)}" />
        </joint>
    </xacro:macro>
</robot>