<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="sheet">
        <link name="sheet_link">
            <visual>
                <geometry>
                    <box size="1 1 0.001" />
                </geometry>
            </visual>
        </link>

        <joint name="sheet_link_joint" type="fixed">
            <parent link="base_link" />
            <child link="sheet_link" />
            <origin xyz="0.0 0.0 0.0" />
        </joint>

    </xacro:macro>
</robot>